# Ignore project files
**/.idea
**/.DS_Store
**/.vscode

# Ignore cache
**/__pycache__

# Ignore egg files
**/*.egg-info

# Ignore tensorflow logs
**/tf_log

# Ignore results
**/pik_data
**/preds

# Ignore test_data
**/test_data
**/testing_data
**/sample_data
**/test_results

# Ignore images
**/model_imgs

# Ignore data visualization scripts/images
**/data_visualization
**/OAI-iMorphics

# temp files
._*
# ignore checkpoint files
**/.ipynb_checkpoints/
**/.abctseg/

# ignore cross validation files
*.cv

# ignore yml file
*.yml

# ignore images
*.png

# ignore any weights files
weights/

# preferences file
abctseg/preferences.yaml

# ignore slurm outputs
**/slurm/