# Ignore project files
**/.idea
**/.DS_Store
**/.vscode

# Ignore cache
**/__pycache__

# Ignore egg files
**/*.egg-info

# Docs build files
docs/_build

# Ignore tensorflow logs
**/tf_log

# Ignore results
**/pik_data
**/preds

# Ignore test_data
**/test_data
**/testing_data
**/sample_data
**/test_results

# Ignore images
**/model_imgs

# Ignore data visualization scripts/images
**/data_visualization
**/OAI-iMorphics

# temp files
._*
# ignore checkpoint files
**/.ipynb_checkpoints/
**/.comp2comp/

# ignore cross validation files
*.cv

# ignore yml file
*.yml
*.yaml

# ignore images
*.png
!logo.png

# ignore any weights files
weights/

# preferences file
comp2comp/preferences.yaml

# model directory
**/.comp2comp_model_dir/

# slurm outputs
**/slurm/
